# History files
.RData
.Rhistory
.Rapp.history

# Package build process
*-Ex.R
data.cube_*.tar.gz
data.cube.Rcheck

# Emacs IDE files
.emacs.desktop
.emacs.desktop.lock

# RStudio IDE files
.Rproj.user
data.cube.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# object and shared objects
*.o
*.so
