# engine
import(data.table)
import(R6)
# to cube
export(as.cube)
S3method(as.cube, default)
S3method(as.cube, array)
S3method(as.cube, list)
# cube
export(cube)
export(capply)
S3method("[", cube)
# array
S3method(as.data.table, array)
S3method(as.array, cube)
# sample data
export(populate_star)
