# engine
import(data.table)
import(R6)
# to cube
export(as.cube)
S3method(as.cube, default)
S3method(as.cube, array)
S3method(as.cube, list)
S3method(as.cube, data.table)
# cube
export(cube)
S3method("[", cube)
S3method(dim, cube)
S3method(dimnames, cube)
S3method(str, cube)
# from cube
S3method(as.data.table, cube)
S3method(as.list, cube)
S3method(as.array, cube)
# others
S3method(as.data.table, array)
S3method(as.array, data.table)
export(populate_star)
export(process.dim)
export(capply)
